body{
    background-color: darkslategrey;
}

#web_card{
     width: 1000px;
     height: 570px;
     background-color: azure;
     text-align: center;
     margin-left: 250px;
     border-color: cornflowerblue;
     border-width: 10px;
     border-style: groove;
     border-radius: 30px;
     box-shadow: 6px 6px rgb(63, 61, 61);
}

#photo-text{
    text-align: center;
    position: static;
}


#web-description{
    color: cadetblue;
    font-size: 30px;
}

.photo-edit{
    color: chartreuse;
    font-style: italic;
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
}